body {
    margin: 0;
    text-align: center;
    justify-content: center;
    background: fixed yellow;
}


/* .inbox {
    background-color: white;
    display: table-cell;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-wrap: wrap;
    height: 30em;
    width: 25em;
    font: 1em sans-serif;
    font-size: small;
} */

.inbox {
    background-color: white;
    position: absolute;
    /* or "fixed" depending on your needs */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30em;
    width: 25em;
    font: 1em sans-serif;
    font-size: small;
}

.item {
    display: flex;
    margin-left: 10px;
    padding: 10px;
}

p {
    display: contents;
}

.check-box:checked+p {
    text-decoration: line-through;
}